# Compiled class file
*.class

# Log file
*.log

# Package Files  output dir#
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


#Intellij
.idea
*.iml
dependency-reduced-pom.xml

# custom folder
target
deprecated

#Db files
*.db
